@font-face {
  font-family: "Socialico";
  src: url("../../fonts/Socialico.eot?") format("eot"), url("../../fonts/Socialico.woff") format("woff"), url("../../fonts/Socialico.ttf") format("truetype"), url("../../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}
.section {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.sectiontitle {
  width: 100%;
  margin: 0 0 24px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1280px;
}
.header {
  width: 1280px;
  height: 325px;
  margin: 0 auto;
  background-color: #445162;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}
.header__text {
  color: #fff;
}
.header__text h1 {
  font-size: 60px;
  font-weight: 300;
  box-sizing: border-box;
  margin: -8px 0 50px -3px;
  line-height: 60px;
}
.header__text__list {
  list-style-type: none;
  padding: 0 0 0 27px;
  margin: -17px 0 0 0;
}
.header__text__list__item {
  margin: 0;
  position: relative;
  line-height: 36px;
  font-size: 20px;
  padding: 0 0 0 8px;
}
.header__text__list__item::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/v.png);
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -27px;
}
.header__img {
  width: 469px;
  height: 213px;
  background-color: #fff;
}
.main__about {
  width: 100%;
  min-height: 335px;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
}
.main__about__text {
  width: 400px;
  width: 670px;
  float: left;
  font-size: 16px;
  color: #333;
  line-height: 24px;
}
.main__about__text__title {
  font-size: 30px;
  font-weight: 300;
  color: #445161;
}
.main__about__img {
  float: right;
  width: 430px;
  height: 245px;
  background-color: #445161;
}
.main__dignity {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f5f5f5;
  padding: 50px 50px 20px;
  box-sizing: border-box;
}
.main__dignity__title {
  width: 100%;
  margin: 0 0 24px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}
.main__dignity__wrap {
  width: 50%;
}
.main__dignity__item {
  box-sizing: border-box;
  position: relative;
}
.main__dignity__item summary {
  margin: 0 0 26px 42px;
  line-height: 24px;
}
.main__dignity__item summary::-webkit-details-marker {
  display: none;
}
.main__dignity__item summary::before {
  content: "";
  display: block;
  background-image: url(../img/plus.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 3px;
  left: 0;
}
.main__screen {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  height: 480px;
}
.main__screen__title {
  width: 100%;
  margin: 0 0 24px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  display: block;
}
.main__screen__wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__screen__wrap__item {
  width: 48.73%;
  margin: 0 15px 30px 0;
}
.main__screen__wrap__item img {
  width: 200px;
  height: 148px;
  background-color: #445161;
  float: left;
  margin: 0 15px 0 0;
}
.main__screen__wrap__item__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
}
.main__screen__wrap__item__text {
  font-size: 16px;
  line-height: 24px;
  margin: 11px 0 0 0;
}
.main__reviews {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  min-height: 425px;
  background-color: #f5f5f5;
  padding: 50px 50px 36px 50px;
}
.main__reviews__title {
  width: 100%;
  margin: 0 0 24px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  display: block;
}
.main__reviews__wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__reviews__wrap__item {
  width: 48.73%;
  margin: 0 30px 14px 0;
  font-size: 14px;
  font-style: italic;
}
.main__reviews__wrap__item figcaption {
  background-color: #ebebeb;
  border-radius: 5px;
  margin: 0 0 0 90px;
  padding: 15px;
  position: relative;
  margin: 5px 0 0 102px;
}
.main__reviews__wrap__item figcaption:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 24px;
  left: -12px;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #ebebeb transparent transparent;
}
.main__reviews__wrap__item img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #445161;
  float: left;
  margin: 5px 15px 0 0;
}
.main__reviews__wrap__item__text {
  font-size: 16px;
  margin: -2px 0 0 0;
  line-height: 17px;
}
.main__reviews__wrap__item__author {
  color: #989898;
  margin: 14px 0 0 0;
}
.main__reviews__wrap__item:nth-child(2n) {
  margin: 0 0 1px 30px;
}
.main__reviews__wrap__item:nth-child(2n+1) {
  margin: 0 0 14px 0;
}
.main__buy {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  min-height: 655px;
  background-color: #fff;
}
.main__buy__title {
  width: 100%;
  margin: 0 0 24px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  line-height: 18px;
  margin-bottom: 35px;
  display: block;
}
.main__buy__cards {
  padding: 0 72.5px 0 72.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.main__buy__cards section {
  width: 300px;
  background-color: #445161;
  border-radius: 5px;
  margin: 0 22.5px;
  padding: 0 3px;
}
.main__buy__cards__standart__title,
.main__buy__cards__premium__title,
.main__buy__cards__lux__title {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding: 13px 0;
}
.main__buy__cards__standart__price,
.main__buy__cards__premium__price,
.main__buy__cards__lux__price {
  display: block;
  background-color: #fff;
  color: #445161;
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding: 18px 0;
}
.main__buy__cards__standart {
  min-height: 306px;
}
.main__buy__cards__premium {
  min-height: 405px;
}
.main__buy__cards__lux {
  min-height: 500px;
}
.main__buy__cards .cards__list {
  list-style-type: decimal;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.main__buy__cards .cards__list__item {
  color: #fff;
  font-size: 14px;
}
.main__buy__cards__link {
  display: block;
  background-color: #fff;
  color: #445161;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  line-height: 40px;
  width: 259px;
  height: 40px;
  border-radius: 4px;
  margin: 0 auto;
}
.footer {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  min-height: 535px;
  color: #fff;
  background-color: #445161;
}
.footer__title {
  margin: 0 0 24px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  width: 100%;
  height: 34px;
  display: block;
  color: #fff;
  margin-bottom: 19px;
  line-height: 24px;
}
.footer__message {
  width: 60%;
  float: left;
  text-align: center;
  padding: 0 0 0 190px;
  box-sizing: border-box;
}
.footer__message .name,
.footer__message .email,
.footer__message .message {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin: 0 0 20px;
  padding: 10px 10px;
  box-sizing: border-box;
}
.footer__message .message {
  height: 170px;
}
.footer__message .send {
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}
.footer__contact {
  width: 37.6%;
  float: right;
}
.footer__contact__list {
  list-style: none;
  position: relative;
  margin: 0;
}
.footer__contact__list__item {
  line-height: 40px;
  position: relative;
}
.footer__contact__list__item.item__skype:before {
  content: "";
  background-image: url(../img/skypeicon.png);
  position: absolute;
  top: 5px;
  left: -31px;
  background-size: cover;
  width: 28px;
  height: 27px;
}
.footer__contact__list__item.item__icq:before {
  content: "";
  background-image: url(../img/icq_icon.png);
  position: absolute;
  top: 5px;
  left: -31px;
  background-size: cover;
  width: 28px;
  height: 28px;
}
.footer__contact__list__item.item__email:before {
  content: "";
  background-image: url(../img/email_icon.png);
  position: absolute;
  top: 5px;
  left: -31px;
  background-size: cover;
  width: 28px;
  height: 28px;
}
.footer__contact__list__item.item__phone:before {
  content: "";
  background-image: url(../img/phone_icon.png);
  position: absolute;
  top: 5px;
  left: -31px;
  background-size: cover;
  width: 28px;
  height: 28px;
}
.social__link__twetter,
.social__link__facebook,
.social__link__in,
.social__link__google,
.social__link__youtube {
  display: block;
  width: 41px;
  height: 40px;
  float: left;
  padding: 0 0 0 10px;
}
.social__link__twetter {
  position: relative;
}
.social__link__twetter:before {
  content: "";
  background-image: url(../img/twetter.png);
  width: 41px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.social__link__facebook {
  position: relative;
}
.social__link__facebook:before {
  content: "";
  background-image: url(../img/facebook.png);
  width: 41px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.social__link__in {
  position: relative;
}
.social__link__in:before {
  content: "";
  background-image: url(../img/in.png);
  width: 41px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.social__link__google {
  position: relative;
}
.social__link__google:before {
  content: "";
  background-image: url(../img/google.png);
  width: 41px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.social__link__youtube {
  position: relative;
}
.social__link__youtube:before {
  content: "";
  background-image: url(../img/youtube.png);
  width: 41px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
