.main__about {
    width: 100%;
    min-height: 335px;
    background-color: #fff;
    padding: @paddingAll;
    box-sizing: border-box;

    &__text {
        width: 400px;
        float: left;
        width: 670px;
        float: left;
        font-size: 16px;
        color: #333;
        line-height: 24px;

        &__header {
            font-size: 30px;
            color: #445161;
    
        }
    }

    &__img {
        float: right;
        width: 430px;
        height: 245px;
        background-color: #445161;

    }
}