.main__buy {
    .section;
    min-height: 655px;
    background-color: #fff;

    &__title {
        .sectiontitle;
        line-height: 18px;
        margin-bottom: 35px;
        display: block;

    }

    &__cards {
        padding: 0 72.5px 0 72.5px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        & section {
            width: 300px;
            background-color: @bgcGrey;
            border-radius: 5px;
            margin: 0 22.5px;
            padding: 0 3px;
        }

        &__standart__title, &__premium__title, &__lux__title {
            display: block;
            color: #fff;
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            text-align: center;
            padding: 13px 0;
        }

        &__standart__price, &__premium__price, &__lux__price {
            display: block;
            background-color: #fff;
            color: @bgcGrey;
            font-size: 40px;
            font-weight: 300;
            line-height: 30px;
            text-align: center;
            padding: 18px 0;

        }

        &__standart {
            min-height: 306px;

            // &__title {
            //     display: block;
            //     color: #fff;
            //     font-size: 24px;
            //     font-weight: 300;
            //     line-height: 30px;
            //     text-align: center;
            //     padding: 16px 0;
            // }

            // &__price {
            //     display: block;
            //     background-color: #fff;
            //     color: @bgcGrey;
            //     font-size: 40px;
            //     font-weight: 300;
            //     line-height: 30px;
            //     text-align: center;
            //     padding: 15px 0;

            // }


        }

        &__premium {
            min-height: 405px;

        }

        &__lux {
            min-height: 500px;

        }

        .cards__list {
            list-style-type: decimal;
            color: #fff;
            font-size: 16px;
            line-height: 24px;

            &__item {
                color: #fff;
                font-size: 14px;

            }
        }
        &__link {
            display: block;
            background-color: #fff;
            color: @bgcGrey;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            line-height: 40px;
            width: 259px;
            height: 40px;
            border-radius: 4px;
            margin: 0 auto;
        }
    }
}